* {
	margin: 0px;
	padding: 0px;            /*  去掉所有标签的marign和padding的值  */
}

body{
	font-family: 'Microsoft YaHei';
	font-weight: 550;
}

ul {
	list-style: none;           /*  去掉ul标签默认的点样式  */
}

.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display: block;
	clear: both;
	content:"";
	visibility: hidden;
	height: 0;
}

.f-left{
	float: left;
}

#conent-box{
	position: relative;
	width:19rem;
	height: 17.5rem;
	margin: 2.5px auto 0;
	border:0.1rem solid #aaa;
	padding:1.75rem;
	background: #ddd;
}

.list-box{
	position: relative;
	height: 16.5rem;
	overflow: hidden;
}

.list-box ul{
	position: absolute;
	top:-5.5rem;
}

.list-box ul li{
	height: 4.5rem;
	padding-bottom: 1rem;
}

.list-box ul li img{
	display: inline-block;
	width:5rem;
	height: 4.4rem;
}

.userInfo-box{
	display: inline-block;
	width:13rem;
	height:3.5rem;
	padding: 0.45rem 0.5rem;
}

.userInfo-box .userName{
	margin-right: 1rem;
}

.userInfo-box p{
	margin-top: 1rem;
}